.{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.container{
    width: 960px;
    height: 100px;
}
.header{
    width: 90%;
}
.header img{
    width: 50px;
    height: auto;
    position: relative;
    top: 15px;
}
.header span{
    color: blue;
}
.header h1{
    display: inline-block;
    margin-bottom: 10px;
}
.container h2{
    width: 970px;
    background-color: lightskyblue;
    color: white;
    text-align: left;
   padding: 15px;
   margin-top: -15px;
}
.main{
    width: 250px;
    display: inline-block;
}
.main p{
    font-weight: 900;
    margin-left: 5px;
}
.side_bar .red{
    color: red;
}
.side_bar span{
    color: blue
}
.side_bar button{
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.blue_button{
    background-color: rgb(79, 104, 184);
    color: white;
}
.orange_button{
    background-color: orange;
    color: white;
}
.line{
    width: 250px;
    background-color: black;
    float: center;
}
.reinvent{
    background-image: url(ad_background.png);
    height: 330px;
    padding-top: 20px;
    margin-top: 60px;
}
.reinvent h3{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: -8px;
}
.reinvent button{
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: lightblue;
    color: white;
    margin: 10px;;
}
.reinvent img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.main_header{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.main_header img{
    width: 20px;
}
.main_header h3{
    display: inline-block;
}
.main_content{
    display: inline-block;
    width: 695px;
}