*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.container{
    width: 960px;
    height: 100px;
}
.header{
    width: 90%;
}
.header img{
    width: 50px;
    height: auto;
    position: relative;
    top: 15px;
}
.header span{
    color: blue;
}
.header h1{
    display: inline-block;
    margin-bottom: 10px;
}
.container h2{
    width: 970px;
    background-color: rgb(57, 120, 160);
    color: white;
    text-align: left;
    padding: 15px;
    margin-top: -15px;
}
.main{
    display: inline-block;
}
.main p{
    font-weight: 900;
    margin-left: 5px;
}
.side_bar{
    width: 250px;
	display: inline-block;
}
.side_bar .red{
    color: red;
}
.side_bar span{
    color: blue
}
.side_bar button{
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
}
.blue_button{
    background-color: rgb(79, 104, 184);
    color: white;
}
.orange_button{
    background-color: orange;
    color: white;
}
.line{
    width: 250px;
    background-color: black;
}
.reinvent{
    background-image: url(ad_background.png);
    height: 312px;
    padding-top: 20px;
    margin-top: 10px;
}
.reinvent h3{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: -8px;
}
.reinvent button{
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: lightblue;
    color: white;
    margin: 10px;;
}
.reinvent img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.main_content{
    vertical-align: top;
    display: inline-block;
}
.main_header{
    width: 705px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}
.main_header img{
    width: 20px;
    vertical-align: top;
}
.main_header .phone_img{
    width: 45px;
    position: relative;
    left: 400px;
}
.main_header p{
    font-size: 10px;
    color: grey;
    margin-left: 0px;
    font-weight: 1;
    position: relative;
    left: 400px;
}
.main_header h3{
    display: inline-block;
    font-size: 20px;
}
.main_header .phone_number{
    font-size: 35px;
    color: rgb(84, 175, 236);
    position: relative;
    left: 400px;
}
.contact_info{
    display: inline-block;
    vertical-align: top;
}
.main_body{
    width: 705px;
    padding-top: 10px;
}
.main_body h3{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(59, 99, 184);
}
.main_body p{
    padding-bottom: 10px;
}
.main_body ul{
    margin-left: 7%;
}
.main_body img{
    width: 200px;
    padding-left: 225px;
}
.main_body .p a{
    text-decoration: none;
}
.main_body .bold{
    font-weight: 900;
}
.main_body ol{
    margin-left: 7%;
}
.main_body a{
    text-decoration: none;
}
.footer{
    margin-top: 20px;
    width: 699px;
    height: 120px;
    border-top: 3px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
}
.footer img{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
.footer h3{
    display: inline-block;
}
.big_3{
    width: 500px;
    position: relative;
    left: 107px;
    bottom: 66px;
}